@import "index.css";
@import "react-simpletabs/lib/react-simpletabs.css";

body {
  font-size: 20px;
}

.samples {
  max-width: 30em;
  margin: auto;
}

.italic {
  font-style: italic;
}

.step-7 {
  font-size: var(--text-size-step-7);
}

.step-6 {
  font-size: var(--text-size-step-6);
}

.step-5 {
  font-size: var(--text-size-step-5);
}

.step-4 {
  font-size: var(--text-size-step-4);
}

.step-3 {
  font-size: var(--text-size-step-3);
}

.step-2 {
  font-size: var(--text-size-step-2);
}

.step-1 {
  font-size: var(--text-size-step-1);
}

.step-0, p {
  font-size: var(--text-size-step-0);
}

.step--1 {
  font-size: var(--text-size-step--1);
}

.step--2 {
  font-size: var(--text-size-step--2);
}


.example__serif-text {
  font-family: var(--fontfamily-serif);
}

.example__sans-text {
  font-family: var(--fontfamily-sans);
}

















.example__sans-text .step-7 {
  line-height: var(--text-line-height-sans-on-step-7);
}

.example__sans-text .step-6 {
  line-height: var(--text-line-height-sans-on-step-6);
}

.example__sans-text .step-5 {
  line-height: var(--text-line-height-sans-on-step-5);
}

.example__sans-text .step-4 {
  line-height: var(--text-line-height-sans-on-step-4);
}

.example__sans-text .step-3 {
  line-height: var(--text-line-height-sans-on-step-3);
}

.example__sans-text .step-2 {
  line-height: var(--text-line-height-sans-on-step-2);
}

.example__sans-text .step-1 {
  line-height: var(--text-line-height-sans-on-step-1);
}

.example__sans-text .step-0, .example__sans-text p {
  line-height: var(--text-line-height-sans-on-step-0);
}

.example__sans-text .step--1 {
  line-height: var(--text-line-height-sans-on-step--1);
}

.example__sans-text .step--2 {
  line-height: var(--text-line-height-sans-on-step--2);
}






.example__sans-text.example__sans-text--bold .step-7 {
  line-height: var(--text-line-height-sans-bold-on-step-7);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-6 {
  line-height: var(--text-line-height-sans-bold-on-step-6);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-5 {
  line-height: var(--text-line-height-sans-bold-on-step-5);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-4 {
  line-height: var(--text-line-height-sans-bold-on-step-4);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-3 {
  line-height: var(--text-line-height-sans-bold-on-step-3);
  letter-spacing: var(--text-letter-spacing-sans-bold-on-step-3);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-2 {
  line-height: var(--text-line-height-sans-bold-on-step-2);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-1 {
  line-height: var(--text-line-height-sans-bold-on-step-1);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step-0, .example__sans-text.example__sans-text--bold p {
  line-height: var(--text-line-height-sans-bold-on-step-0);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step--1 {
  line-height: var(--text-line-height-sans-bold-on-step--1);
  /* TODO when we have @font-face add this again font-weight: bold; */
}

.example__sans-text.example__sans-text--bold .step--2 {
  line-height: var(--text-line-height-sans-bold-on-step--2);
  /* TODO when we have @font-face add this again font-weight: bold; */
}






.example__sans-text.example__sans-text--light .step-7 {
  line-height: var(--text-line-height-sans-light-on-step-7);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-6 {
  line-height: var(--text-line-height-sans-light-on-step-6);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-5 {
  line-height: var(--text-line-height-sans-light-on-step-5);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-4 {
  line-height: var(--text-line-height-sans-light-on-step-4);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-3 {
  line-height: var(--text-line-height-sans-light-on-step-3);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-2 {
  line-height: var(--text-line-height-sans-light-on-step-2);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-1 {
  line-height: var(--text-line-height-sans-light-on-step-1);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step-0, .example__sans-text.example__sans-text--light p {
  line-height: var(--text-line-height-sans-light-on-step-0);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step--1 {
  line-height: var(--text-line-height-sans-light-on-step--1);
  letter-spacing: var(--text-letter-spacing-sans-light-on-step--1);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}

.example__sans-text.example__sans-text--light .step--2 {
  line-height: var(--text-line-height-sans-light-on-step--2);
  letter-spacing: var(--text-letter-spacing-sans-light-on-step--2);
  /* TODO when we have @font-face add this again font-weight: lighter; */
}













.example__serif-text.example__serif-text--italic .step-7 {
  line-height: var(--text-line-height-serif-italic-on-step-7);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-6 {
  line-height: var(--text-line-height-serif-italic-on-step-6);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-5 {
  line-height: var(--text-line-height-serif-italic-on-step-5);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-4 {
  line-height: var(--text-line-height-serif-italic-on-step-4);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-3 {
  line-height: var(--text-line-height-serif-italic-on-step-3);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-2 {
  line-height: var(--text-line-height-serif-italic-on-step-2);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-1 {
  line-height: var(--text-line-height-serif-italic-on-step-1);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step-0, .example__serif-text.example__serif-text--italic p {
  line-height: var(--text-line-height-serif-italic-on-step-0);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step--1 {
  line-height: var(--text-line-height-serif-italic-on-step--1);
  /* TODO when we have @font-face add this again font-style: italic; */
}

.example__serif-text.example__serif-text--italic .step--2 {
  line-height: var(--text-line-height-serif-italic-on-step--2);
  /* TODO when we have @font-face add this again font-style: italic; */
}






.example__serif-text .step-7 {
  line-height: var(--text-line-height-serif-on-step-7);
}

.example__serif-text .step-6 {
  line-height: var(--text-line-height-serif-on-step-6);
}

.example__serif-text .step-5 {
  line-height: var(--text-line-height-serif-on-step-5);
}

.example__serif-text .step-4 {
  line-height: var(--text-line-height-serif-on-step-4);
}

.example__serif-text .step-3 {
  line-height: var(--text-line-height-serif-on-step-3);
}

.example__serif-text .step-2 {
  line-height: var(--text-line-height-serif-on-step-2);
}

.example__serif-text .step-1 {
  line-height: var(--text-line-height-serif-on-step-1);
}

.example__serif-text .step-0, .example__serif-text p {
  line-height: var(--text-line-height-serif-on-step-0);
}

.example__serif-text .step--1 {
  line-height: var(--text-line-height-serif-on-step--1);
}

.example__serif-text .step--2 {
  line-height: var(--text-line-height-serif-on-step--2);
}
