@font-face {
  font-family: "EconSans";
  font-weight: 300;
  src: url('http://egle.design/component-typography/assets/ecosans-lig.woff2') format('woff2'), /* Super Modern Browsers */
  url('http://egle.design/component-typography/assets/ecosans-lig.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: normal;
  src: url('http://egle.design/component-typography/assets/ecosans-reg.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://egle.design/component-typography/assets/ecosans-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-weight: 700;
  src: url('http://egle.design/component-typography/assets/ecosans-bol.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://egle.design/component-typography/assets/ecosans-bol.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: italic;
  src: url('http://egle.design/component-typography/assets/ecosans-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('http://egle.design/component-typography/assets/ecosans-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: normal;
  src: url('http://egle.design/component-typography/assets/ecoserif-reg.woff2') format('woff2'), /* Super Modern Browsers */
  url('http://egle.design/component-typography/assets/ecoserif-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: italic;
  src: url('http://egle.design/component-typography/assets/ecoserif-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('http://egle.design/component-typography/assets/ecoserif-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-weight: 500;
  src: url('http://egle.design/component-typography/assets/ecoserif-med.woff2') format('woff2'), /* Super Modern Browsers */
  url('http://egle.design/component-typography/assets/ecoserif-med.woff') format('woff'); /* Pretty Modern Browsers */
}
