/**
 * Modular scale for type.
 */

:root {
    /** Modular scale **/
    --scale-factor: 1.125;  /* Major second */

    --text-size-step-0: 1em;
    --text-size-step--1: calc( var(--text-size-step-0)  / var(--scale-factor) );
    --text-size-step--2: calc( var(--text-size-step--1) / var(--scale-factor) );

    --text-size-step-1:  calc( var(--text-size-step-0)  * var(--scale-factor) );
    --text-size-step-2:  calc( var(--text-size-step-1)  * var(--scale-factor) );
    --text-size-step-3:  calc( var(--text-size-step-2)  * var(--scale-factor) );
    --text-size-step-4:  calc( var(--text-size-step-3)  * var(--scale-factor) );
    --text-size-step-5:  calc( var(--text-size-step-4)  * var(--scale-factor) );
    --text-size-step-6:  calc( var(--text-size-step-5)  * var(--scale-factor) );
    --text-size-step-7:  calc( var(--text-size-step-6)  * var(--scale-factor) );

    --fontfamily-body: Halifax, Tahoma, sans-serif;
    --fontfamily-display: Milo, Palatino, serif;
}

