/* stylelint-disable value-keyword-case */
/* too many components refer to EconSans */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    url('/assets/econsans-lt.woff2') format('woff2'),
    url('/assets/econsans-lt.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    url('/assets/econsans-rg.woff2') format('woff2'),
    url('/assets/econsans-rg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    url('/assets/econsans-it.woff2') format('woff2'),
    url('/assets/econsans-it.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 500;
  src:
    url('/assets/econsans-md.woff2') format('woff2'),
    url('/assets/econsans-md.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    url('/assets/econsans-bd.woff2') format('woff2'),
    url('/assets/econsans-bd.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    url('/assets/milo-rg.woff2') format('woff2'),
    url('/assets/milo-rg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    url('/assets/milo-it.woff2') format('woff2'),
    url('/assets/milo-it.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    url('/assets/milo-md.woff2') format('woff2'),
    url('/assets/milo-md.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 700;
  src:
    url('/assets/milo-bd.woff2') format('woff2'),
    url('/assets/milo-bd.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-weight: 300;
  src:
    url('/assets/econsans-cd-li.woff2') format('woff2'),
    url('/assets/econsans-cd-li.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 300;
  src:
    url('/assets/econsans-cd-li-it.woff2') format('woff2'),
    url('/assets/econsans-cd-li-it.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-weight: normal;
  src:
    url('/assets/econsans-cd-rg.woff2') format('woff2'),
    url('/assets/econsans-cd-rg.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: normal;
  src:
    url('/assets/econsans-cd-it.woff2') format('woff2'),
    url('/assets/econsans-cd-it.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-weight: 500;
  src:
    url('/assets/econsans-cd-md.woff2') format('woff2'),
    url('/assets/econsans-cd-md.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 500;
  src:
    url('/assets/econssans-cd-md-it.woff2') format('woff2'),
    url('/assets/econssans-cd-md-it.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-weight: 700;
  src:
    url('/assets/econsans-cd-bd.woff2') format('woff2'),
    url('/assets/econsans-cd-bd.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 700;
  src:
    url('/assets/econsans-cd-bd-it.woff2') format('woff2'),
    url('/assets/econsans-cd-bd-it.woff') format('woff');
}
