/* stylelint-disable value-keyword-case */
/* too many components refer to EconSans */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-lig.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-lig.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    url('/assets/ecosans-reg.woff2') format('woff2'),
    url('/assets/ecosans-reg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 500;
  src:
    url('/assets/ecosans-med.woff2') format('woff2'),
    url('/assets/ecosans-med.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    url('/assets/ecosans-bol.woff2') format('woff2'),
    url('/assets/ecosans-bol.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    url('/assets/ecosans-ita.woff2') format('woff2'),
    url('/assets/ecosans-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    url('/assets/ecoserif-reg.woff2') format('woff2'),
    url('/assets/ecoserif-reg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    url('/assets/ecoserif-ita.woff2') format('woff2'),
    url('/assets/ecoserif-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    url('/assets/ecoserif-med.woff2') format('woff2'),
    url('/assets/ecoserif-med.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-Light;
  font-weight: normal;
  src:
    url('/assets/econsanscndlig-webfont.woff2') format('woff2'),
    url('/assets/econsanscndlig-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-LightIt;
  font-weight: normal;
  src:
    url('/assets/econsanscndligita-webfont.woff2') format('woff2'),
    url('/assets/econsanscndligita-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-Regular;
  font-weight: normal;
  src:
    url('/assets/econsanscndreg-webfont.woff2') format('woff2'),
    url('/assets/econsanscndreg-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-Italic;
  font-weight: normal;
  src:
    url('/assets/econsanscndita-webfont.woff2') format('woff2'),
    url('/assets/econsanscndita-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-Medium;
  font-weight: normal;
  src:
    url('/assets/econsanscndmed-webfont.woff2') format('woff2'),
    url('/assets/econsanscndmed-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-MediumIt;
  font-weight: normal;
  src:
    url('/assets/econsanscndmedita-webfont.woff2') format('woff2'),
    url('/assets/econsanscndmedita-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-Bold;
  font-weight: normal;
  src:
    url('/assets/econsanscndbol-webfont.woff2') format('woff2'),
    url('/assets/econsanscndbol-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-BoldIt;
  font-weight: normal;
  src:
    url('/assets/econsanscndbolita-webfont.woff2') format('woff2'),
    url('/assets/econsanscndbolita-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-ExtraBold;
  font-weight: normal;
  src:
    url('/assets/econsanscndxbol-webfont.woff2') format('woff2'),
    url('/assets/econsanscndxbol-webfont.woff') format('woff');
}

@font-face {
  font-family: EconSansCnd-ExtraBoldIt;
  font-weight: normal;
  src:
    url('/assets/econsansxbolita-webfont.woff2') format('woff2'),
    url('/assets/econsansxbolita-webfont.woff') format('woff');
}
